@inherits LayoutComponentBase

<div class="main-page-grid">
    <div class="main-page-header">
        <div class="nav-bar-section">
            <div class="nav-bar-icon">
                <AuthorizeView>
                    <Authorized>
                        <a href="/.auth/logout">Log out</a>
                    </Authorized>
                    <NotAuthorized>
                        <a href="/.auth/login/github">Login</a>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </div>
        <div class="logo-section">
            <div class="logo-image">
                <a href="/">
                    <i class="bi bi-house-door-fill"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="main-page-content">
        <ErrorBoundary>
            <ChildContent>
                @Body
            </ChildContent>
            <ErrorContent>
                @context.ToString()
            </ErrorContent>
        </ErrorBoundary>
    </div>
    <div class="footer-section">
        <div class="footer-icons-section">
        </div>
    </div>
</div>

<BlazoredToasts Position="Blazored.Toast.Configuration.ToastPosition.TopRight" Timeout="10"></BlazoredToasts>